#cotizador
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#cotizador-title{
    flex-direction: column;
}

#cotizador-title{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.342);
    width: 40%;
    flex-direction: column;
    h1{
        font-size: 70px;
    }
    p{
        font-size: 20px;
    }
}

#btn-cotizador{
    font-family: $mainFont;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#cotizador-contenedor{
    background-color: rgba(255, 255, 255, 0.79);
    max-width: 40%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin: 20px;
    padding: 20px;
}


.contenedor-btn-continuar-volver {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#btn-categorias, #btn-productos, #btn-materiales, #input-dimensiones, #btn-estilos, #input-cantidad, #resultado-cotizacion {
    font-family: $mainFont;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#btn-cont-

#btn-categorias button.seleccionado,
#btn-productos button.seleccionado,
#btn-materiales button.seleccionado,
#btn-estilos button.seleccionado {
    background-color:rgb(216, 148, 84);
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: white;
}

#cotizador-title{
    font-family: $mainFont;
    color: white;
    font-size: 50px;
}

.btn-style, #btn-cont-dimensiones, #btn-volv-dimensiones, #btn-cont-cantidad,#btn-volv-cantidad{
    border-radius: 20px;
    &:hover{
        background-color: black;
        color: white;
    }
}